* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat';
    color: var(--white-color);
}

html{
    font-size: 6.25%;
}

ul{
    list-style: none;
}

a, p, table, legend, label, ::placeholder{
    text-decoration: none;
    font-family: 'Open Sans';
}

p{
    font-size: 20rem;
    color: var(--white-color);
}
h2{
    font-size: 60rem;

}
table{
    font-size: 20rem;

}
legend{
    font-size: 16rem;
    color: var(--white-color);

}
label{
    font-size: 18rem;
    color: var(--white-color);
    display: block;
}
:root{
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #0A1128;
    --secodary-color: #dc143c;
    --light-gray-color: #EEEEEE;
    --gap: 30rem; 
}


